<h1>Add a genre</h1>
<p>Add a genre here:</p>

<form action="/genres" method="POST">
  <label for="genreName">Genre name</label>
  <input id="genreName" name="genreName" type="text">
  <button type="submit">Add</button>
</form>

<p>Return <a href="/">Home</a></p>
<p>Return to <a href="/genres">genres</a></p>