@using CDOrganizer.Models;

<h1>Album List</h1>

@if (Model.Count == 0)
{
  <p>There are no albums yet, try adding one!</p>
}
<ul>
  @foreach (Album album in Model)
  {
    <li><a href="/album/@album.Id">@album.Name</a></li>
  }
</ul>

<p>return <a href="/">Home</a></p><br>
<p>add another <a href="/album/new">album</a></p><br>
<form action="/album/delete" method="POST">
  <button type="submit" name="button">Clear List</button>
</form>