<h1>Add an album!</h1>
<p>Add an album here:</p>

<form action="/album" method="POST">
  <label for="albumName">Album Name: </label>
  <input id="albumName" name="albumName" type="text">
  <button type="submit">Add</button>
</form>

<p>return <a href="/">Home</a></p>
<p>back to <a href="/album">Album List</a></p>