<h1>Album Details: </h1>

<h2>@Model["album"].Name</h2>
<h3>Genre: @Model["genre"].Name</h3>

<p>Add another <a href='/genres/@Model["genre"].Id/album/new'>Album</a></p><br>
<p>view <a href="/genres">Genre List</a></p><br>
<a href="/">Home</a>